:root{
    --lightGreen:#B1D182;
    --darkGreen:#2B463C;
    --Green:#688F4E;
    --White:#F4F1E9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    transform: .2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
section{
    padding: 2rem 9%;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: var(--darkGreen);
    color: var(--White);
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
}
.btn:hover{
    background: var(--Green);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background:  var(--Green);
    padding: 2rem 9%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
}
header .logo{
    font-size: 3rem;
    color: var(--lightGreen);
    font-weight: bolder;
}
header .dot{
    color: var(--darkGreen);
}
header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: var(--White);
    flex-wrap: wrap;
    
}
header .navbar a:hover{
    color:var(--darkGreen);
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(img/homebackground.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.home .content h3{
    font-size: 6rem;
    color: var(--White);
}
.home .content span{
    font-size: 3.5rem;
    color: var(--darkGreen);
    padding: 1rem 0;
    line-height: 1.5;
}
.home .content p{
    font-size: 1.5rem;
    font-size: large;
    color: var(--White);
    padding: 1rem 0;
    line-height: 1.5;
}
.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}
.about .row .img-container{
    flex: 1 1 40rem;
    position: relative;
}
.about .row .img-container img{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}
.about .row .content{
    flex: 1 1 40rem;
}
.about .row .content h3{
    font-size: 3rem;
    color: var(--darkGreen);
}
.about .row .content p{
    font-size: 1.7rem;
    color: rgb(27, 27, 27);
}

.text-decoration{
    background-color: var(--darkGreen);
    color: var(--White);
}

.about .row .img-container h3{
    position: absolute;
    top: 50%;
    transform: translateY(-330%);
    font-size: 3rem;
    background: var(--White);
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode:hard-light;

}

.heading{
    text-align: center;
    font-size:4rem;
    color: var(--lightGreen);
    padding: 1rem;
    margin: 2rem 0;
    background: var(--Green);
}
.heading span{
    color: var(--darkGreen);
}
 .container-product{
    position: relative;
    margin: 50px auto;
}
.filter_btn{
    display: flex;
    flex-wrap: wrap;
}
button{
    padding: 10px 20px;
    font-size: 10px;
    background: var(--darkGreen);
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 6px;
    cursor: pointer;
    color: var(--White);
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin: 0.5rem;
}
button.active{
  background-color: var(--Green);
}
.filter-cards{
    display: flex;
    margin-top: 25px;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
 flex-basis: 300px;
 background-color: rgba(53, 250, 119, 0.1);
 padding: 3px;
 border-radius: 8px;
}
.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card_body{
    padding: 15px 20px 20px;
}
.card_title{
    font-weight: bold;
    font-size: 2rem;
    color: var(--darkGreen);

}
.card_text{
    font-size: 1.5rem;
    margin-top: 5px;
    font-weight: bold;
}

/* media queries */
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
    .home{
        background-position: left;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .heading{
        font-size: 3rem;
    }
}

